<a href="https://colab.research.google.com/github/skywalker0803r/works/blob/master/ensemble_submit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Load

In [2]:
import os
os.chdir('/content/drive/My Drive/玉山人工智慧比賽數據/catboost_result/1106')
os.getcwd()
files = os.listdir()
files

['catboost_Fold0_random42.csv',
 'catboost_Fold1_random42.csv',
 'catboost_Fold2_random42.csv',
 'catboost_Fold3_random42.csv',
 'catboost_Fold4_random42.csv',
 'catboost_class_weight(1.5)_iter_250_voting_bigthan_0.45',
 'catboost_class_weight(1.5)_iter_250_voting_bigthan_0.45.csv']

In [0]:
import pandas as pd

dfs = {}
for key ,file_path in enumerate(files):
  dfs[key] = pd.read_csv(file_path,index_col=0)

# merge

In [4]:
merge_table = pd.DataFrame()
merge_table['txkey'] = dfs[0]['txkey']

for key in dfs.keys():
  merge_table[str(key)] = dfs[key]['fraud_ind']
merge_table.head()

          txkey         0         1         2         3         4  5  6
1521787  592489  0.008184  0.003935  0.007722  0.004107  0.005816  0  0
1521788  592452  0.008184  0.006965  0.007798  0.004329  0.008981  0  0
1521789  590212  0.007369  0.004337  0.005512  0.003004  0.005156  0  0
1521790  590209  0.006163  0.003673  0.004953  0.002962  0.005684  0  0
1521791  592488  0.006358  0.003888  0.005512  0.003365  0.005162  0  0

# count mean

In [5]:
merge_table['fraud_ind'] = merge_table.drop('txkey',axis=1).mean(axis=1)
merge_table = merge_table[['txkey','fraud_ind']]
merge_table.sample(5)

           txkey  fraud_ind
1889517   418469   0.000573
1883199  1250988   0.000556
1860934  1609541   0.000300
1607390  1826854   0.000662
1728017   797154   0.007205

# value_counts

In [6]:
merge_table['fraud_ind'].value_counts()

0.000538    129
0.000464    103
0.000566     95
0.000509     79
0.000478     73
           ...
0.000600      1
0.000504      1
0.037656      1
0.000300      1
0.081247      1
Name: fraud_ind, Length: 415143, dtype: int64

In [0]:
def f(x):
  if x>=0.45:
    return 1
  else:
    return 0
merge_table['fraud_ind'] = merge_table['fraud_ind'].apply(f)

In [8]:
盜刷比例 = merge_table['fraud_ind'].value_counts()[1] / len(merge_table['fraud_ind'])
盜刷比例 = round(盜刷比例,5)*100
str(盜刷比例)+'%'

'1.392%'

In [9]:
print(merge_table["fraud_ind"].value_counts())

0    415795
1      5870
Name: fraud_ind, dtype: int64

# 保存預測結果

In [0]:
merge_table.to_csv('./catboost_class_weight(1.5)_iter_250_voting_bigthan_0.45.csv')