<a href="https://colab.research.google.com/github/skywalker0803r/works/blob/master/%E8%BC%95%E6%B2%B9%E6%A1%88%E5%AD%90%E9%9B%86%E6%88%90%E5%AD%B8%E7%BF%92%E5%AF%A6%E9%A9%97(%E5%85%A8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [146]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import ART2_Ricky
import pandas as pd
import numpy as np

# 定義參數

In [0]:
import numpy as np

#level 1 models
svm_model_dir_path = '/content/drive/My Drive/台塑輕油案子/集成學習/svm_model/'
rf_model_dir_path = '/content/drive/My Drive/台塑輕油案子/集成學習/rf_model/'
knn_model_dir_path = '/content/drive/My Drive/台塑輕油案子/集成學習/knn_model/'

#level 2 model
xgb_model_dir_path = '/content/drive/My Drive/台塑輕油案子/集成學習/xgboost_model/'

測試資料路徑 = '/content/drive/My Drive/台塑輕油案子/test_without_outlier.csv'

# 載入訓練資料

In [149]:
df = pd.read_csv(訓練資料路徑)
x_columns = ['T10','T50','T90','N+A in Feed']
y_columns = ['C5NP', 'C5IP', 'C5N', 'C6NP',
       'C6IP', 'C6N', 'C6A', 'C7NP', 'C7IP', 'C7N', 'C7A', 'C8NP', 'C8IP',
       'C8N', 'C8A', 'C9NP', 'C9IP', 'C9N', 'C9A', 'C10NP', 'C10IP', 'C10N',
       'C10A']
df = df[x_columns+y_columns]
df = df.rename(columns={'N+A in Feed':'NA'})
y_columns = df.columns[4:27].tolist()
x_columns = df.drop(y_columns,axis=1).columns.tolist()
print('x_columns:',x_columns)
print('y_columns:',y_columns)
print(df.shape)
df.head()

x_columns: ['T10', 'T50', 'T90', 'NA']
y_columns: ['C5NP', 'C5IP', 'C5N', 'C6NP', 'C6IP', 'C6N', 'C6A', 'C7NP', 'C7IP', 'C7N', 'C7A', 'C8NP', 'C8IP', 'C8N', 'C8A', 'C9NP', 'C9IP', 'C9N', 'C9A', 'C10NP', 'C10IP', 'C10N', 'C10A']
(4521, 27)

     T10    T50    T90      NA   C5NP  ...    C9A  C10NP  C10IP   C10N   C10A
0  100.5  119.2  146.5  31.978  0.272  ...  3.661  0.875  5.257  0.525  0.319
1   99.6  117.9  145.5  31.568  0.297  ...  2.995  0.881  5.591  1.119  0.303
2  100.0  118.8  145.6  31.344  0.262  ...  2.979  0.865  5.641  0.964  0.289
3  100.4  118.6  142.9  31.453  0.224  ...  2.964  0.830  5.637  0.968  0.281
4  100.4  118.1  142.2  32.190  0.243  ...  3.725  0.835  4.823  0.969  0.290

[5 rows x 27 columns]

# 切割訓練/驗證資料

In [150]:
from sklearn.model_selection import train_test_split
train_df, val_df = train_test_split( df ,test_size=0.1,random_state=42)
train_df.shape,val_df.shape

((4068, 27), (453, 27))

# 載入測試資料

In [151]:
test_df = pd.read_csv(測試資料路徑)
test_df.columns = df.columns
print(test_df.shape)
test_df.head()

(170, 27)

     T10    T50    T90      NA   C5NP  ...    C9A  C10NP  C10IP   C10N   C10A
0   98.6  119.2  146.1  40.133  1.142  ...  3.481  1.088  5.652  0.618  0.597
1  105.4  122.2  148.2  32.175  0.122  ...  3.963  1.069  6.025  0.585  0.484
2  105.8  122.7  149.2  31.428  0.098  ...  3.997  1.034  6.107  0.543  0.456
3  105.4  122.4  147.6  31.390  0.122  ...  3.982  1.013  6.054  0.545  0.449
4  105.4  122.6  148.2  32.418  0.072  ...  4.227  0.930  5.828  0.519  0.463

[5 rows x 27 columns]

# 驗證/測試 資料 貼上所屬群Labels

In [152]:
from sklearn.manifold import Isomap
from sklearn.preprocessing import StandardScaler
import joblib

scaler = joblib.load('/content/drive/My Drive/台塑輕油案子/集成學習/tools/scaler_輕油資料使用.pkl')
iso = joblib.load('/content/drive/My Drive/台塑輕油案子/集成學習/tools/iso_輕油資料使用.pkl')
ART2 = joblib.load('/content/drive/My Drive/台塑輕油案子/集成學習/tools/ART2_輕油資料使用.pkl')

#scaler -> isomap -> ART2
val_df['cluster'] = ART2.transform(iso.transform(scaler.transform(val_df[x_columns])))
test_df['cluster'] = ART2.transform(iso.transform(scaler.transform(test_df[x_columns])))
print(val_df['cluster'].value_counts())
print(test_df['cluster'].value_counts())

3.0    154
0.0    122
1.0     89
2.0     48
4.0     40
Name: cluster, dtype: int64
3.0    77
0.0    58
1.0    30
2.0     5
Name: cluster, dtype: int64

# Lasso 特徵篩選器

In [153]:
#Modeling工具
from sklearn.base import TransformerMixin

class ModelTransformer(TransformerMixin):
  def __init__(self, model):
    self.model = model
  def set_params(self,alpha):
    self.model.set_params(alpha=alpha)
  def fit(self,X,y):
    self.model.fit(X,y)
    return self
  def transform(self,X):
    SelectColumn = (abs(self.model.coef_)!=0)
    return X[:,SelectColumn]

#Lasso特徵篩選器功能測試
from sklearn.linear_model import Lasso
import numpy as np

y_name = 'C5NP'

LassoTR = ModelTransformer(Lasso(0.5))
LassoTR.fit(np.array(test_df[x_columns]),np.array(test_df[y_name]))

print(np.array(test_df[x_columns]).shape)
print("==After Lasso==")
print(LassoTR.transform(np.array(test_df[x_columns])).shape)

(170, 4)
==After Lasso==
(170, 2)

# 交互項特徵產生器

In [154]:
#交互項特徵產生器
from sklearn.preprocessing import PolynomialFeatures

class featuresGenerator(TransformerMixin):
  def __init__(self):
    pass
  
  def fit(self,X,y):
    return self
  
  def transform(self,X):
    #交互項特徵
    interaction = PolynomialFeatures(2, interaction_only=True, include_bias=False)
    X_transformed = interaction.fit_transform(X) 
    return X_transformed

#交互項特徵產生器功能測試
print(np.array(test_df[x_columns]).shape)
f_tr = featuresGenerator()
print('==after features generator==')
print(f_tr.transform(np.array(test_df[x_columns])).shape)

(170, 4)
==after features generator==
(170, 10)

# 評分工具

In [0]:
from sklearn.metrics import r2_score
import numpy as np

def rmse(y_true, y_pred):
    return np.sqrt(((y_pred - y_true) ** 2).mean())

def mape(y_true, y_pred,dropinf=False):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    ape = np.abs((y_true - y_pred) / y_true)
    if dropinf == True:
      ape = ape[np.isfinite(ape)]
    return np.mean(ape) * 100

# 對驗證/測試 資料新增特徵工程欄位

In [0]:
def 特徵工程(df):
  df['T90-T50'] = df['T90']-df['T50']
  df['T90-T10'] = df['T90']-df['T10']
  df['T50-T10'] = df['T50']-df['T10']
  df['(90-50/90-10)*N+A']=(df['T90-T50']/df['T90-T10'])*df['NA']
  df['(50-10/90-10)*N+A']=(df['T50-T10']/df['T90-T10'])*df['NA']
  return df

In [157]:
import warnings 
warnings.simplefilter('ignore')
val_df = 特徵工程(val_df)
val_df.head()

        T10    T50    T90  ...  T50-T10  (90-50/90-10)*N+A  (50-10/90-10)*N+A
2398  101.6  119.3  145.2  ...     17.7          19.131546          13.074454
800    61.6   95.2  141.7  ...     33.6          22.321161          16.128839
2288  104.7  120.1  144.5  ...     15.4          20.112834          12.694166
2344  104.4  120.4  145.8  ...     16.0          19.647575          12.376425
3615   92.4  112.1  142.5  ...     19.7          31.231904          20.239096

[5 rows x 33 columns]

In [158]:
test_df = 特徵工程(test_df)
test_df.head()

     T10    T50    T90  ...  T50-T10  (90-50/90-10)*N+A  (50-10/90-10)*N+A
0   98.6  119.2  146.1  ...     20.6          22.727952          17.405048
1  105.4  122.2  148.2  ...     16.8          19.545561          12.629439
2  105.8  122.7  149.2  ...     16.9          19.189908          12.238092
3  105.4  122.4  147.6  ...     17.0          18.744739          12.645261
4  105.4  122.6  148.2  ...     17.2          19.390206          13.027794

[5 rows x 33 columns]

# 定義x_columns,y_columns

In [159]:
x_columns = test_df.drop(y_columns+['cluster'],axis=1).columns.tolist()
print(x_columns)
print(y_columns)

['T10', 'T50', 'T90', 'NA', 'T90-T50', 'T90-T10', 'T50-T10', '(90-50/90-10)*N+A', '(50-10/90-10)*N+A']
['C5NP', 'C5IP', 'C5N', 'C6NP', 'C6IP', 'C6N', 'C6A', 'C7NP', 'C7IP', 'C7N', 'C7A', 'C8NP', 'C8IP', 'C8N', 'C8A', 'C9NP', 'C9IP', 'C9N', 'C9A', 'C10NP', 'C10IP', 'C10N', 'C10A']

# 調整y預測順序

In [160]:
new_y_columns = []
for i in y_columns:
  if i[-2:] == 'NP':
    new_i = i.replace('NP','IP')
  elif i[-2:] == 'IP':
    new_i = i.replace('IP','NP')
  else:
    new_i = i
  new_y_columns.append(new_i)
y_columns = new_y_columns
y_columns

['C5IP',
 'C5NP',
 'C5N',
 'C6IP',
 'C6NP',
 'C6N',
 'C6A',
 'C7IP',
 'C7NP',
 'C7N',
 'C7A',
 'C8IP',
 'C8NP',
 'C8N',
 'C8A',
 'C9IP',
 'C9NP',
 'C9N',
 'C9A',
 'C10IP',
 'C10NP',
 'C10N',
 'C10A']

# 定義預測流程

In [0]:
from tqdm import tqdm_notebook as tqdm

def Load_Modeling_predict(test_data,x_columns,y_columns,Sequential=False,model_dir_path=None):
  
  #初始化預測結果表
  predict_table = pd.DataFrame(np.zeros((len(test_data),len(y_columns))),index=test_data.index,columns=y_columns)
  #加入群label欄位
  predict_table['cluster'] = test_data['cluster']
  
  #對每一筆樣本作遍歷,判斷所屬的群
  for index in tqdm(test_data.index):
    one_row_data = test_data.loc[[index],x_columns]# one_row_data(一筆資料)
    cluster_name = int(test_data.loc[[index],['cluster']].values[0])#群代碼 int type
    #根據cluster_name和y_name呼叫model
    for y_name in y_columns:
      #呼叫Model
      dir_path = model_dir_path+'群代碼{}_'.format(cluster_name)
      file_name = '{}.pkl'.format(y_name)
      load_path = dir_path + file_name
      model = joblib.load(load_path)
      #模型預測&填入表格
      y_pred = model.predict(one_row_data)
      predict_table.loc[[index],[y_name]] = y_pred
      #把當前預測的y append到特徵(one_row_data)裡做為下一個y的特徵
      if Sequential == True:
        one_row_data[y_name] = y_pred
  #輸出表格
  return predict_table

# call先前保存好的Model對val_df做預測

In [0]:
rf_pred_val = Load_Modeling_predict(val_df,
                                    list(x_columns),
                                    list(y_columns),
                                    Sequential=True,
                                    model_dir_path = rf_model_dir_path)

In [0]:
knn_pred_val = Load_Modeling_predict(val_df,
                                     list(x_columns),
                                     list(y_columns),
                                     Sequential=True,
                                     model_dir_path = knn_model_dir_path)

In [0]:
svm_pred_val = Load_Modeling_predict(val_df,
                                     list(x_columns),
                                     list(y_columns),
                                     Sequential=True,
                                     model_dir_path = svm_model_dir_path)

# call先前保存好的Model對test_df做預測

In [0]:
rf_pred_test = Load_Modeling_predict(test_df,
                                    list(x_columns),
                                    list(y_columns),
                                    Sequential=True,
                                    model_dir_path = rf_model_dir_path)

In [0]:
knn_pred_test = Load_Modeling_predict(test_df,
                                    list(x_columns),
                                    list(y_columns),
                                    Sequential=True,
                                    model_dir_path = knn_model_dir_path)

In [0]:
svm_pred_test = Load_Modeling_predict(test_df,
                                    list(x_columns),
                                    list(y_columns),
                                    Sequential=True,
                                    model_dir_path = svm_model_dir_path)

# Second level learning model via XGBoost

In [194]:
import xgboost as xgb

table = pd.DataFrame()

for y_name in y_columns:
  #3個model在val上的預測結果
  predict_val = pd.DataFrame({'RF':rf_pred_val[y_name],
                            'SVM':svm_pred_val[y_name],
                            'KNN':knn_pred_val[y_name],
                            'True':val_df[y_name]},
                           index=val_df.index)
  #三個model在test上的預測結果
  predict_test = pd.DataFrame({'RF':rf_pred_test[y_name],
                            'SVM':svm_pred_test[y_name],
                            'KNN':knn_pred_test[y_name],
                            'True':test_df[y_name]},
                           index=test_df.index)
  
  #用val做訓練
  x_train = predict_val.drop('True',axis=1)
  y_train = predict_val['True']
  #用test做預測
  x_test = predict_test.drop('True',axis=1)
  y_test = predict_test['True']
  
  #xgboost做level2 model
  gbm = xgb.XGBRegressor()
  
  #訓練
  gbm.fit(x_train, y_train)
  
  #預測
  predict = gbm.predict(x_test)
  
  #加入評估結果至table
  table = table.append(evaluate(y_test,predict,y_name=y_name))

[07:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[07:56:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [195]:
table.loc['AVG'] = table.mean(axis=0)
table

             R2      RMSE       MAPE     MAPE修正
C5IP   0.568944  0.335972  57.570325  57.570325
C5NP   0.729946  0.444099  42.671820  42.671820
C5N    0.264554  0.117400  35.985831  35.985831
C6IP   0.420316  0.795830  14.560172  14.560172
C6NP  -0.258952  0.453948   8.641208   8.641208
C6N    0.662279  0.962387   9.463475   9.463475
C6A   -1.985780  0.295218  25.145906  25.145906
C7IP   0.814841  0.475485   5.781882   5.781882
C7NP   0.946455  0.508907   4.629941   4.629941
C7N    0.947021  0.959209   5.242091   5.242091
C7A   -0.800691  0.623603   7.805531   7.805531
C8IP   0.948558  0.354124   3.369352   3.369352
C8NP   0.962360  0.335304   3.427374   3.427374
C8N    0.588306  1.170891   7.185174   7.185174
C8A    0.627892  0.495855   5.673482   5.673482
C9IP   0.889317  0.526157   3.799796   3.799796
C9NP   0.973477  0.260352   4.557023   4.557023
C9N    0.423635  0.613069   7.805403   7.805403
C9A    0.567956  0.398295   9.716580   9.716580
C10IP  0.809276  0.446203   7.549868   7.549868
C10NP -0.736993  0.278634  18.303607  18.303607
C10N   0.033892  0.128340  13.828692  13.828692
C10A   0.130547  0.217338  24.217992  24.217992
AVG    0.370746  0.486810  14.214458  14.214458