<a href="https://colab.research.google.com/github/skywalker0803r/works/blob/master/%E8%BC%95%E6%B2%B9%E6%A1%88%E5%AD%90%E6%96%B0%E6%B8%AC%E8%A9%A6%E8%B3%87%E6%96%99%E6%A8%A1%E5%9E%8B%E8%A1%A8%E7%8F%BE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
model_dir_path = '/content/drive/My Drive/台塑輕油案子/S_F_L_SVR_models/'
test1_path = '/content/drive/My Drive/台塑輕油案子/test_without_outlier.csv'
test2_path = '/content/drive/My Drive/台塑輕油案子/Aroma-1 Import Naphtha Lab from Ship_Summary.xlsx'

# load model

In [0]:
from sklearn.base import TransformerMixin
from sklearn.preprocessing import PolynomialFeatures

class featuresGenerator(TransformerMixin):
  def __init__(self):#初始化建立一個交互項產生器,只兩兩相乘,不包括bias
    self.model = PolynomialFeatures(2,interaction_only=True,include_bias=False)
  
  def fit(self,X,y):
    return self
  
  def transform(self,X): 
    return  self.model.fit_transform(X)

In [0]:
from sklearn.linear_model import Lasso
import numpy as np

class LassoTransformer(TransformerMixin):  
  def __init__(self):#初始化首先建立一個Lasso model
    self.model = Lasso()
  
  def set_params(self,alpha):#設置alpha參數會影響選擇變數多寡
    self.model.set_params(alpha=alpha)
  
  def fit(self,X,y):#對資料做訓練得到coef_
    self.model.fit(X,y)
    return self
  
  def transform(self,X):#呼叫此方法可過濾掉冗餘特徵
    SelectColumn = (abs(self.model.coef_)!=0)
    return X[:,SelectColumn]

In [0]:
import os
import joblib
models = {}
for i in os.listdir(model_dir_path):
  filename = model_dir_path+i
  i = i.split('.')[0].replace('_','')
  models[i] = joblib.load(filename)

In [6]:
models.keys()

dict_keys(['C5NP', 'C5IP', 'C5N', 'C6NP', 'C6IP', 'C6N', 'C6A', 'C7A', 'C7NP', 'C8NP', 'C7IP', 'C8IP', 'C7N', 'C8N', 'C9NP', 'C8A', 'C9IP', 'C9N', 'C9A', 'C10NP', 'C10IP', 'C10N', 'C10A'])

# load test1

In [7]:
import pandas as pd
test1 = pd.read_csv(test1_path)
new_col_name = ['T10','T50','T90','NA']+[i.upper().replace('_','').replace('-','') for i in test1.iloc[:,4:].columns.tolist()]
test1.columns = new_col_name
test1.head()

     T10    T50    T90      NA   C5NP  ...    C9A  C10NP  C10IP   C10N   C10A
0   98.6  119.2  146.1  40.133  1.142  ...  3.481  1.088  5.652  0.618  0.597
1  105.4  122.2  148.2  32.175  0.122  ...  3.963  1.069  6.025  0.585  0.484
2  105.8  122.7  149.2  31.428  0.098  ...  3.997  1.034  6.107  0.543  0.456
3  105.4  122.4  147.6  31.390  0.122  ...  3.982  1.013  6.054  0.545  0.449
4  105.4  122.6  148.2  32.418  0.072  ...  4.227  0.930  5.828  0.519  0.463

[5 rows x 27 columns]

In [0]:
X_test = test1.iloc[:,:4]
y_test = test1.iloc[:,4:]

In [0]:
y_pred = pd.DataFrame(index=y_test.index,columns=y_test.columns)

# 特徵工程

In [0]:
def 特徵工程(df):
  df['T90-T50'] = df['T90']-df['T50']
  df['T50-T10'] = df['T50']-df['T10']
  return df

In [11]:
X_test = 特徵工程(X_test)
X_test.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     T10    T50    T90      NA  T90-T50  T50-T10
0   98.6  119.2  146.1  40.133     26.9     20.6
1  105.4  122.2  148.2  32.175     26.0     16.8
2  105.8  122.7  149.2  31.428     26.5     16.9
3  105.4  122.4  147.6  31.390     25.2     17.0
4  105.4  122.6  148.2  32.418     25.6     17.2

# model預測

In [12]:
for y_name in models.keys():
  pred = models[y_name].predict(X_test)
  y_pred[y_name] = pred
y_pred.head()

       C5NP      C5IP       C5N  ...     C10IP      C10N      C10A
0  1.191988  0.824389  0.165207  ...  5.059223  0.714474  0.662601
1  0.132381  0.086538  0.101532  ...  5.950572  0.617702  0.705440
2  0.119955  0.063436  0.102912  ...  6.117179  0.637208  0.872996
3  0.113011  0.066706  0.103271  ...  6.029713  0.572690  0.607114
4  0.156517  0.090036  0.101861  ...  6.052516  0.617922  0.717748

[5 rows x 23 columns]

# 評分工具

In [0]:
from sklearn.metrics import r2_score
import numpy as np

def rmse(y_true, y_pred):
    return np.sqrt(((y_pred - y_true) ** 2).mean())

def mape(y_true, y_pred,dropinf=True):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    ape = np.abs((y_true - y_pred) / y_true)
    if dropinf == True:
      ape = ape[np.isfinite(ape)]
    return np.mean(ape) * 100

def metric(y_true,y_pred):
  R2 = r2_score(y_true,y_pred)
  RMSE = rmse(y_true,y_pred)
  MAPE = mape(y_true,y_pred)
  return {'R2':R2,'RMSE':RMSE,'MAPE':MAPE}

# test1結果

In [14]:
table = pd.DataFrame(index=y_test.columns,columns=['R2','RMSE','MAPE'])
for y_name in y_test.columns:
  table.loc[y_name] = metric(y_test[y_name],y_pred[y_name])
table.loc['AVG'] = table.mean()
table

              R2       RMSE     MAPE
C5NP    0.884713   0.290165  27.2194
C5IP    0.738117   0.261873  41.6517
C5N      0.78577  0.0633628  225.162
C6NP   0.0883964   0.386282  6.60118
C6IP    0.866548   0.381845  9.49235
C6N     0.879682   0.574429  5.50099
C6A     0.533583   0.116681  17.5323
C7NP     0.98063   0.306088  2.94169
C7IP    0.859847   0.413681  4.42108
C7N     0.980959   0.575045  3.40638
C7A     0.668932   0.267391  4.54616
C8NP    0.979137   0.249634  2.98234
C8IP    0.963542   0.298119  2.63053
C8N     0.922814    0.50699  5.02919
C8A     0.573901   0.530609  5.30853
C9NP    0.993738   0.126502  2.35221
C9IP    0.955219   0.334674  3.18116
C9N      0.71292   0.432675  7.11478
C9A     0.607714   0.379527  9.46516
C10NP   0.486961    0.15143  12.7644
C10IP   0.869019   0.369772  6.56448
C10N    0.682184  0.0736099  8.62075
C10A    0.419422     0.1776  20.2744
AVG     0.757989   0.315999  18.9028

In [15]:
table[table.RMSE == table.RMSE.max()]

           R2      RMSE     MAPE
C7N  0.980959  0.575045  3.40638

#=============================================

# 載入test2

In [16]:
test2 = pd.read_excel(test2_path).iloc[42:,2:]
test2

          Unnamed: 2 Unnamed: 3  ... Unnamed: 143 Unnamed: 144
42          N+A, wt%        NaN  ...      56.1377      49.8505
43               D86    T10, oC  ...         98.1         91.2
44               NaN    T50, oC  ...        117.9        112.9
45               NaN    T90, oC  ...        146.3        147.7
46               NaN        NaN  ...          NaN          NaN
47  PONA Composition         P5  ...      1.90296        1.907
48               NaN         N5  ...     0.261995         0.39
49               NaN         P6  ...       5.1399        9.882
50               NaN         N6  ...       5.2279        5.688
51               NaN         A6  ...      0.49199        0.762
52               NaN         P7  ...      8.21984       11.227
53               NaN         N7  ...      16.0217       13.287
54               NaN         A7  ...      3.53593        3.595
55               NaN         P8  ...      13.9627       11.541
56               NaN         N8  ...      11.2728         8.41
57               NaN         A8  ...      7.24885        4.841
58               NaN         P9  ...      8.85982          9.5
59               NaN         N9  ...      7.27685        6.579
60               NaN         A9  ...      3.27893         3.53
61               NaN        P10  ...      5.77706      6.09248
62               NaN        N10  ...     0.965394      1.36632
63               NaN        A10  ...     0.555402      1.40219
64               NaN        Sum  ...          100          100

[23 rows x 143 columns]

In [17]:
NA = test2.iloc[0,2:]
T10 = test2.iloc[1,2:]
T50 = test2.iloc[2,2:]
T90 = test2.iloc[3,2:]
X_test = pd.DataFrame({'T10':T10,'T50':T50,'T90':T90,'NA':NA}).reset_index(drop=True)
X_test.head()

    T10    T50    T90       NA
0  94.4  113.1  141.2  52.2308
1  93.3    107  132.7  55.6277
2  71.2   91.6  140.3  40.6336
3  95.3  116.1  150.6  51.6905
4  71.2    106  143.5  37.1883

In [18]:
X_test.loc[124]

T10       97.7
T50      123.3
T90       /148
NA     39.0656
Name: 124, dtype: object

In [0]:
X_test.loc[124,'T90'] =148

# 特徵工程

In [0]:
X_test = 特徵工程(X_test)

# model預測

In [21]:
y_pred = pd.DataFrame()
for y_name in models.keys():
  pred = models[y_name].predict(X_test)
  y_pred[y_name] = pred
y_pred.head()

       C5NP      C5IP       C5N  ...     C10IP      C10N      C10A
0  1.716196  1.144071  0.250450  ...  3.657149  0.716289  0.572823
1  2.132945  1.389565  0.283585  ...  2.763656  0.569530  0.592016
2  3.804376  3.720335  0.737118  ...  2.371851  0.493243  0.599632
3  1.627218  1.124865  0.232292  ...  4.789737  1.136681  1.399677
4  6.747063  4.790403  0.653205  ...  3.376333  0.615212  0.773997

[5 rows x 23 columns]

# 整理y_test

In [22]:
y_test = test2.loc[47:63,:].iloc[:,1:].T
y_test.columns = y_test.iloc[0].values
y_test = y_test.iloc[1:,:]
y_test.reset_index(drop=True,inplace=True)
y_test.head()

        P5        N5       P6       N6  ...       A9      P10       N10       A10
0  2.26971  0.330957  6.44416  6.50816  ...  2.83187  4.46746  0.536727  0.999033
1  3.50654  0.245968  3.37956  3.97748  ...  1.29384  2.31641  0.395516   1.06158
2  8.25376  0.750887  19.9868  10.3696  ...  1.56262  2.25651  0.387673  0.953274
3  2.38986  0.310981  5.81864  5.89165  ...  3.22291  6.21095  0.795398   2.13011
4  11.5592  0.815869  12.1191  6.00304  ...  2.31204  3.48531  0.262358  0.363675

[5 rows x 17 columns]

In [23]:
for i in y_test.columns:
  y_test[i] = pd.to_numeric(y_test[i])
y_test.dtypes

P5     float64
N5     float64
P6     float64
N6     float64
A6     float64
P7     float64
N7     float64
A7     float64
P8     float64
N8     float64
A8     float64
P9     float64
N9     float64
A9     float64
P10    float64
N10    float64
A10    float64
dtype: object

# 整理y_pred

In [0]:
y_pred['P5'] = y_pred[['C5NP','C5IP']].sum(axis=1)
y_pred['N5'] = y_pred['C5N']

y_pred['P6'] = y_pred[['C6NP','C6IP']].sum(axis=1)
y_pred['N6'] = y_pred['C6N']
y_pred['A6'] = y_pred['C6A']

y_pred['P7'] = y_pred[['C7NP','C7IP']].sum(axis=1)
y_pred['N7'] = y_pred['C7N']
y_pred['A7'] = y_pred['C7A']

y_pred['P8'] = y_pred[['C8NP','C8IP']].sum(axis=1)
y_pred['N8'] = y_pred['C8N']
y_pred['A8'] = y_pred['C8A']

y_pred['P9'] = y_pred[['C9NP','C9IP']].sum(axis=1)
y_pred['N9'] = y_pred['C9N']
y_pred['A9'] = y_pred['C9A']

y_pred['P10'] = y_pred[['C10NP','C10IP']].sum(axis=1)
y_pred['N10'] = y_pred['C10N']
y_pred['A10'] = y_pred['C10A']

In [25]:
y_pred = y_pred.iloc[:,23:]
y_pred.head()

          P5        N5         P6  ...       P10       N10       A10
0   2.860267  0.250450   5.692459  ...  4.315962  0.716289  0.572823
1   3.522510  0.283585   3.629118  ...  3.390995  0.569530  0.592016
2   7.524710  0.737118  12.105669  ...  2.827881  0.493243  0.599632
3   2.752083  0.232292   5.514480  ...  6.267443  1.136681  1.399677
4  11.537466  0.653205  11.456353  ...  4.267651  0.615212  0.773997

[5 rows x 17 columns]

# test2結果

In [26]:
table = pd.DataFrame(index=y_test.columns,columns=['R2','RMSE','MAPE'])
for y_name in y_test.columns:
  table.loc[y_name] = metric(y_test[y_name],y_pred[y_name])
table.loc['AVG'] = table.mean()
table

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in true_divide
  if __name__ == '__main__':

            R2      RMSE     MAPE
P5    0.827391   1.69522  287.644
N5    0.148415  0.510435  117.826
P6    0.831693   1.44425  157.833
N6    0.515236   1.16086  14.3593
A6   -0.235737  0.914149    126.1
P7    0.663784   1.34795  10.0341
N7    0.598016   3.31368  14.5609
A7    0.467662  0.986551  22.6848
P8    0.333364   2.66529  17.4517
N8    0.376135   2.53787  23.1066
A8    0.575133   1.13291  17.6992
P9    0.611948    1.2911  10.6667
N9   -0.390079   1.54249  34.8413
A9    0.589616  0.571277  19.9695
P10   0.464445    1.6698  33.8251
N10  0.0685649  0.749031  107.654
A10   0.374811  0.844489   64.107
AVG     0.4012   1.43396  63.5508